body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: aliceblue;
}
@media only screen and (max-width: 920px) {
    #skillSetDescription{
        margin-top: 80px;
    }
    #coverPhoto{
        height: 800px;
    }
    #profileDescription{
        margin-left: -200px;
    }
}

.textProperties{
    text-align: center;
}
#coverPhoto{
    background-image: url("../images/coverpicture.jpg");
    height: 140vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#profilePhoto{
	position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 1;
}

#profileDescription{
	position: absolute;
    background-color: black;
    font-size:36px;
    color: white;
    border-radius: 30px;
    border: 5px solid white;
    top: 30%;
    left: 50%;
    height: 160px;
    width: 400px;
    opacity: 0;
}
.skillSection{
    border-top: 15px solid blueviolet;
    padding-top: 20px;
}
.skillSubSection{
    color: white;
    background-color: #4981d8;
    font-size: 24px;
    border: 10px solid orange;
    border-radius: 15px 50px;
    padding: 0px 25px 20px 20px;
    margin-bottom: 20px;
}

.skillSubSection span{
    font-weight: bold;
    color: white;
    font-size: 48px;
    padding-left: 35px;
}
.skillSubList{
    font-size: 26px;
}
.projectMainImage{
    margin-bottom: 20px;
}
.projectMain{
    padding: 15px 25px 20px 20px;
    border: 10px solid greenyellow;
    border-radius: 50px 15px;
    color: #ffdd93;
    background-color: #4f688e;
    font-size: 20px;
    margin-bottom: 20px;
}
.projectSubs{
    color: #ffc851;
    border: 10px solid lightblue;
    background-color: #133a77;
    margin-bottom: 20px;
}
.ps1{
    padding: 15px 25px 20px 20px;
    border-radius: 15px 15px 15px 50px;
}
.ps2{
    padding: 15px 25px 20px 20px;
    border-radius: 15px;
}
.ps3{
    padding: 15px 25px 20px 20px;
    border-radius: 15px 15px 50px 15px;
}
.contactBG{
    background-color: #441663;
}
.contactMe{
    padding: 20px;
    color: #f6fca1;
    font-size: 32px;
}
.contactMe span{
    color: #fffa00;
    font-size: 48px;
    font-weight: bold;
}
/*
#skillSetDescription{
    background-color: aliceblue;
    padding-top: 50px;
    border-top: 20px solid darkmagenta;
    top: 120%;
    position: absolute;
    width: 100%;
    height: auto;
    color: navy;
}
#contactMeLinks{
    background-color: aliceblue;
    color: black;
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 1;
    text-decoration: none;
    padding-top: 20%;
}
.textProperties span{
    color: black;
    font-size: 48px;
    font-weight: bold;
}
*/