body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
@media only screen and (max-width: 600px) {
    #skillSetDescription{
        margin-top: 80px;
    }
    #coverPhoto{
        height: 800px;
    }
    #profileDescription{
        margin-left: -200px;
    }
}

.textProperties{
    text-align: center;
}
#coverPhoto{
    background-image: url("../images/coverpicture.jpg");
    height: 140vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#profilePhoto{
	position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 1;
}

#profileDescription{
	position: absolute;
    background-color: black;
    font-size:36px;
    color: white;
    border-radius: 30px;
    border: 10px solid white;
    top: 30%;
    left: 50%;
    height: 160px;
    width: 400px;
    opacity: 0;
}
.skillSection{
    border-top: 15px solid blueviolet;
    padding-top: 10px;
    background-color: aliceblue;
}
.skillTitle{
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 72px;
}
.skillSubSection{
    color: darkblue;
    font-size: 16px;
    border: 5px solid orange;
    padding: 15px;
    margin-bottom: 20px;
}

.skillSubSection span{
    color: black;
    font-size: 32px;
    padding-left: 25px;
}
.skillSubList{
    font-size: 24px;
}
.mainProject{
    border: 5px solid greenyellow;
}
/*
#skillSetDescription{
    background-color: aliceblue;
    padding-top: 50px;
    border-top: 20px solid darkmagenta;
    top: 120%;
    position: absolute;
    width: 100%;
    height: auto;
    color: navy;
}
#contactMeLinks{
    background-color: aliceblue;
    color: black;
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 1;
    text-decoration: none;
    padding-top: 20%;
}
.textProperties span{
    color: black;
    font-size: 48px;
    font-weight: bold;
}
*/