.textProperties{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:36px;
    text-align: center;
    text-decoration: none;
    color: white;
}
#coverPhoto{
    background-image: url("images/coverpicture.jpg");
    height: 5000px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#profilePhoto{
    display: inline-block;
	position: relative;
    left: 50%;
    margin-left: -150px;
    margin-top: 200px;
    width: 300px;
    height: auto;
}

#profileDescription{
	position: absolute;
    background-color: black;
    border-radius: 30px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    height: 150px;
    width: 400px;
    margin-top: -450px;
    margin-left: 700px;
    opacity: 0;
    padding-top: 10px;
}
#skillSetDescription{
    position: absolute;
    text-align: left;
    left: 50%;
    margin-left: -300px;
    width: 500px;
    opacity: 0;
    
}