.coverPhoto{
    background-image: url("images/coverpicture.jpg");
    min-height: 5000px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.textProperties{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:36px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#profilePhoto{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -150px;
    width: 300px;
    height: 300px;
}

#skillSetDescription{
    padding-top: 800px;
}

#contactMeLinks{
    padding-top: 1600px;
}
