.textProperties{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:36px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.profileDiv{
    position: relative;
    height: 100px;
    width: 100px;
    
    
}

#coverPhoto{
    background-image: url("images/coverpicture.jpg");
    min-height: 5000px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#profilePhoto{
    display: inline-block;
	position: relative;
    left: 50%;
    margin-left: -150px;
    vertical-align: middle;
    width: 300px;
    height: auto;
}

#profileDescription{
    margin-top: -450px;
    margin-left: 400px;
}

.opacityToggle{
    animation-name: profileSlide;
    animation-duration: 1s;
    animation-timing-function: linear;
}

#skillSetDescription{
    padding-top: 100px;
    text-align: left;
    padding-left: 100px;
}

#contactMeLinks{
    padding-top: 1600px;
}

#firstTrigger{
    padding-top: 400px;
    height: 0px;
}
#secondTrigger{
    padding-top: 800px;
    height: 0px;
}
@keyframes profileSlide {
    0%   {left: -200px;}
    50%  {left: -100px;}
    100% {left: 0px;}
}
